.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vw;
  pointer-events: none;
}
header .btn-menu {
  position: absolute;
  top: 0;
  left: 27px;
  opacity: 1;
  transition: opacity 200ms ease-in-out;
  font-size: 20px;
}
header .btn-menu a em {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: background 400ms ease-in-out;
}
header .btn-menu a em:before {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: rgb(255, 255, 255);
  transition: all 400ms ease-in-out;
}
header .btn-menu a em:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -8px;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: rgb(254, 254, 254);
  transition: all 400ms ease-in-out;
}
header .btn-home {
  position: absolute;
  bottom: -54px;
  right: 100px;
  padding: 36px 18px 0 0;
  height: 54px;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  opacity: 0.8;
  transform: translateY(0%);
  transition: all 400ms ease-in-out;
}

.App-header {
  background-color: #282c34;
  min-height: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
